@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body {
    padding-top: 0;
    margin: 0;

    .menu-topo {
        background-color: #17222D;

        .menu {
            padding: 20px;
            display: flex;
            justify-content: flex-end;
            margin-top: -100px;

        }

        .logo {
            margin-top: -30px;
        }
    
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
    
            li {
                display: inline;
                padding-left: 30px;
                margin-right: 20px;
                color: #ffff;
    
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .container {
        font-family: "Alice", serif;
        position: relative;
        width: fit-content;
        display: inline-block;

        h2 {
            position: absolute;
            top: 70%;
            left: 20%;
            transform: translate(-50%, -50%);
            z-index: 1;

            font-size: 55px;
            color: #ffff;
        }

        .input-email {
            position: absolute;
            top: 80%;
            left: 70%;
            transform: translate(-50%, -50%);
            z-index: 1;

            border-radius: 5px;
            width: 250px;
            font-size: 15px;
            padding: 10px;
            border: none;
            outline: none;
        }
        .surf-home {
            width: 1325px;
        }

        .button {
            position: absolute;
            top: 80%;
            left: 85%;
            transform: translate(-50%, -50%);
            z-index: 1;

            padding: 11px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            border: none;
            width: 150px;
            font-size: 14px;

            background-color: red;
            color: #ffff;
            font-weight: bold;
            
        }
    }
}
  