<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Maré Alta</title>
    </head>
    <body>
        <nav class="menu-topo">
            <img src="assets/img/logo.png" width="10%" class="logo" />
            <ul class="menu">
                <li><a routerLink="/">Praia</a></li>
                <li><a routerLink="/">Aulas</a></li>
                <li><a routerLink="/">Contato</a></li>
                <li><a routerLink="/">Matricule-se</a></li>
            </ul>
        </nav>
        <div class="container">
            <input type="text" [(ngModel)]="email" placeholder="Email" class="input-email">
            <img src="assets/svg/surf-home.svg" class="surf-home">
        </div>
    </body>
</html>