body {
    padding-top: 0;
    margin: 0;

    .menu-topo {
        background-color: #17222D;

        .menu {
            padding: 20px;
            display: flex;
            justify-content: flex-end;
            margin-top: -100px;

        }

        .logo {
            margin-top: -30px;
        }
    
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
    
            li {
                display: inline;
                padding-left: 30px;
                margin-right: 20px;
                color: #ffff;
    
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .container {
        position: relative;
        width: fit-content;
        display: inline-block;

        .input-email {
            position: absolute;
            top: 80%;
            left: 70%;
            transform: translate(-50%, -50%);
            z-index: 1;

            border-radius: 5px;
            width: 250px;
            font-size: 15px;
            padding: 10px;
            border: none;
            outline: none;
        }
        .surf-home {
            width: 1260px;
        }
    }
}
  